ul {
	display: flex;
	flex-direction: column;
	list-style-type: none;
}

li {
	display: flex;
	padding: 2px;
	margin: 2px;
	width: 150px;
	height: fit-content;
	justify-content: space-between;
	background: rgb(127, 201, 151);
}

.footer {
	margin-top: 50%;
	height: 100px;
}

span {
	display: flex;
}
